<div class="card mb-3" id="annonce-{{ annonce.id }}">
  {% if app.user is not same as null %}
    {% if app.user.role is same as "candidat" %}
      <a href="{{ path('app_annonce', {'id': annonce.id})}}" ><h4 class="card-header">{{annonce.titre|capitalize}}</h4></a> 
    {% endif %}
  {% else %} 
      <h4 class="card-header">{{annonce.titre|capitalize}}</h4>
  {% endif %}
	<div class="card-body">
		<h5 class="card-title text-primary">Poste:
			{{annonce.poste|capitalize}}
		</h5>
		<h6 class="card-subtitle text-muted">Ville:
			{{annonce.ville|upper}}</h6>
		<h6 class="card-subtitle text-muted">Recruteur:
			{{annonce.recruteur.nom|upper}}
			
		</h6>
	</div>
	<img src="/images/people_working_1.jpg" width="100px" class="card-img-top" alt="People Working">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Type de contrat : {{annonce.typecontrat|upper}}</li>
		<li class="list-group-item">Date de début : {{annonce.datedebut|date('d-m-Y')}}</li>
		<li class="list-group-item"> {% if annonce.datefin is not same as null %} Date de fin : {{annonce.datefin|date('d-m-Y')}} {% else %} Pas de date de fin {% endif %}</li>
		<li class="list-group-item">Nombre d'heures semaine: {{annonce.nombreheures}}</li>
		<li class="list-group-item">Salaires mensuel : {{annonce.salaire}} €</li>
	</ul>
	<div class="card-body">
		<h5>Descrition:</h5>
		<p class="card-text">{{annonce.description|slice(0,60)}}...</p>
    {% if app.user is not same as null %}
      {% if app.user.role is same as "candidat" %}
        <a href="{{ path('candidature_create', {'annonce':annonce.id, 'candidat': candidat.id })}}" role="button" class="btn btn-success">Postuler</a> {# candidat.id #}
      {% endif %}
    {% endif %}
	</div>
	<div class="card-footer text-muted">Date d'ajout: {{annonce.dateajout|date('d-m-Y H:i:s') }}</div>
</div>
