{% extends 'base.html.twig' %}

{% block title %}Candidature
    {% if annonce %}
        {{annonce.titre}}
    {% endif %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 class="mt-5">Candidature</h1>
<div class="alert alert-dismissible alert-light">
    <ul>
    
          {% if candidature.etat is same as "valid" %}
            <li style="list-style:none" class="my-1">
             La candidature avec l'ID: {{candidature.id}} a été validée.
            </li>
          {% else %}
            <li style="list-style:none" class="my-1">La candidature avec l'ID: {{candidature.id}} n'a pas été validée.</li>
          {% endif %}
    
    </ul>
</div>

<h3>Candidat</h3>
<div class="alert alert-dismissible alert-light">
    <ul>
  
            <li style="list-style:none" class="my-1">
              <a href="{{ path('app_candidat_annonce', {'id': candidature.candidat.id, 'annonce':candidature.annonce.id})}}" class="btn btn-info mx-2">Voir</a> 
              {{candidature.candidat.candidatuser.nom}} 
              {{candidature.candidat.candidatuser.prenom}} - Email:
              {{candidature.candidat.candidatuser.email}} - 
              {% if candidature.candidat.cv is not same as ""  %}
              {{candidature.candidat.cv}}
              {% else %}
              Pas de CV.
              {% endif %}
            </li>
    
    </ul>
</div>

<h3>Annonce</h3>

<div>

    {% if annonce %}
    {#{{ dump(annonce) }}#}
        <div class="alert alert-dismissible alert-primary">
            <div>ANNONCE n°{{annonce.id}}</div>
            <div>TITRE : {{annonce.titre}}</div>
            <div>TYPE DE CONTRAT : {{annonce.typecontrat|upper }}</div>
            <div>POSTE : {{annonce.poste|upper}}</div>
            <div>LIEU : {{annonce.ville|capitalize }}</div>
            <div>DATE DEBU: {{annonce.datedebut|date('d-m-Y')}}</div> 
            {% if annonce.datefin is not same as null %}
              <div>DATE FIN: {{annonce.datefin|date('d-m-Y')}}</div>
            {% endif %}
            <div>NOMBRE HEURES : {{annonce.nombreheures }}</div>
            <div>SALAIRE : {{annonce.salaire }} €</div>
            <div>DATE AJOUT: {{annonce.dateajout|date('d-m-Y H:i:s')}}</div> 

        </div>
        <div class="alert alert-dismissible alert-secondary">DESCRIPTION<br/>{{annonce.description|raw|nl2br}}</div>        
        
        <h3>Recruteur</h3>
                <div class="alert alert-dismissible alert-light">
                    <div>{{annonce.getRecruteur().getNom()|upper}}</div>  
                    <div>{{annonce.getRecruteur().getAdresse()}}</div>
                    <div>{{annonce.getRecruteur().getCodePostal()}}</div>  
                    <div>{{annonce.getRecruteur().getVille()|upper}}</div>   
                </div>
    {% else %}
        <em>Données de l'annonce non trouvées.</em>
    {% endif %}

        
</div>

<br/>

{# Bouton retour #}
<div class="mt-3">
<a href="{{ path('candidatures') }}" role="button" class="btn btn-dark">Retour à la liste des candidatures</a>
</div>
<div class="my-5"></div>
{% endblock %}
